/* category */
.category_box {
  min-width: 177px;
}
.category_text {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.category_img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

/* services */
.service_box {
  background-color: #efefef;
  border-radius: 10px;
  position: relative;
  height: 400px;
  width: 93%;
}

.service_box img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}
/* responsive */
@media (max-width: 768px) {
  .service_box {
    width: 100%;
  }
  .service_container
    .service_col:not(.service_container .service_col:last-child) {
    margin-bottom: 50px;
  }
}
